:root{
  --background-color: rgb(6,11,25);
}

.App{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

h1, h2, h3 , a, p, span{
  font-family: "Rubrik", sans-serif;
  font-weight: 400;
  color: white;
}

a{
  text-decoration: none;
}